<!DOCTYPE html>
{%extends 'base.html'%}
{%block content %}
  <body>
    {{product.title}}
    <div class="container">


    <div class="card mb-3 mx-auto" >
        <div class="row no-gutters">

    {{div| safe}}
  
  </div>
  </div>
  <div class="card mb-4 mx-auto" >
      <div class="row no-gutters">
    {{div1|safe}}
  </div>
    </div>
  </div>
  </body>
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.2.min.js"></script>
   <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.2.min.js"></script>
   <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.2.min.js"></script>
   <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-1.3.2.min.js"></script>
   {{script | safe}}
   {{script1 | safe}}

{% endblock %}
